/* ==========================================================================
   Author's custom styles
   ========================================================================== */

  @import url('https://fonts.googleapis.com/css?family=Amiri:400,400i,700,700i|Josefin+Slab:100,100i,300,300i,400,400i,600,600i,700,700i|Space+Mono:400,400i,700,700i|Overpass+Mono:300,400,600,700|Cutive+Mono|Fira+Mono:400,500,700');

   body {
      padding-top: 10px;
      background-image: url('../img/glitchbg-small.jpg');

   }
   h1 {
     font-family: 'Josefin Slab', sans-serif;
     font-weight: 300;
     font-size: 70px;

   }

   h2 {
     font-family: 'Josefin Slab', sans-serif;
     font-weight: 600;
     font-size: 46px;
   }

   h3 {
     font-family: 'Josefin Slab', sans-serif;
     font-weight: 600;
     font-size: 32px;
   }

   h2 small {
     font-weight: 400;
   }

   p {
     font-size: 20px;
     font-family: 'Amiri', serif;
     line-height: 26px;
   }

   p.lead {
     font-size: 28px;
   }

   #guardCanvas{
     padding-bottom:140px;
   }

   .sidenav {
     display: block;
     margin-left: auto;
     text-align:left;
   }

   .sidenav p{
     font-size: 20px;
     font-family: 'Cutive Mono', serif;
     font-weight: bold;
     background-color: white;
   }

   .sidenav a:link{
     color: black;
     font-style:normal;
   }
   .sidenav a:visited{
     color: black;
     font-style:normal;
   }
   .sidenav a:hover{
     color: red;
     text-decoration:none;
   }
   .sidenav a:active{
     color: red;
     text-decoration:none;
   }


   .blog-format a:link{
     color: red;
     font-style:normal;
   }
   .blog-format a:visited{
     color: red;
     font-style:normal;
   }
   .blog-format a:hover{
     color: darkblue;
     text-decoration:none;
   }
    .blog-format a:active{
     color: darkblue;
     text-decoration:none;
   }

   .atongueBody{
      margin-top: 5%;
      font-style: 'serif';
      margin-bottom: 100px;
   }
   .atongueBody img{
   }

   .golden{
      display: block;
      margin-left: 5%;
      margin-right: auto;
      margin-bottom: 5%;
      width: 800px;
      height: 600px;
   }

   .golden h1{
      margin-left: 50%;
      margin-right: auto;
   }

   #goldenID canvas{
      margin-left:auto;
      margin-right:auto;
      margin-bottom: 2%;
      max-width: 800px;
      min-width: 400px;
      border-style: solid;
      border-width: 10px;
   }

 .navbar {
   height: 250px;
 }

 .navtitle p {
   text-align: center;
   background-color: black;
   color: white;
 }


img.lwHeader {
   display: block;
   width: 250px;
   margin-left: auto;
   margin-right:auto;
   padding-bottom:20px;
 }

 .pagetitle {
   display: block;
   text-align: center;
   background-color: black;
   margin-bottom: 20px;
   /*border-bottom-width: thick;
   border-bottom-color: darkgrey;
   border-bottom-style:double;
   border-left-width:thick;
   border-left-style:ridge;*/
   padding-top:2px;
   padding-bottom: 15px;
 }

 .pagetitle h1 {
   color: white;
 }


.blog-format {
  display:inline;
  text-align: justify;
}

.blog-format h3,
             h2,
             h1{
   text-align: center;
   display: block;
   margin-left: auto;
   margin-right: auto;
   color: black;
}

.blog-title {
  /*border-bottom-width: thick;
  border-bottom-color: darkgrey;
  border-bottom-style:double;
  border-left-width:thick;
  border-left-style:ridge;*/
  margin-bottom: 10px;
  width: 100%;
  padding-top:1px;
  padding-left:20px;
  padding-right:20px;
  padding-bottom:15px;
}
.blog-title h2{
  text-align:left;
}

.blog-title small {
  color: black;
  font-style: italic;
}

.blog-content {
  padding-top:20px;
  padding-left: 20px;
  padding-right: 20px;
  /*border-bottom-width: thick;
  border-bottom-color: darkgrey;
  border-bottom-style:dashed;*/
  padding-bottom:20px;
  margin-bottom: 10px;
  background-color: white;
}
.blog-content h3{
  margin-top: 0px;
}

.blog-format iframe{
  display: block;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  /*padding-bottom: 20px;*/
  float: none;
}

.cv p {
  font-size: 18px;
}

.cv-content {
  margin-left: 30px;
}

.blog-format canvas{
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 20px;
  float: none;
}
.blog-format img{
  display: block;
  max-width: 100%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  float: none;
}

.blog-format .left-player {}
.blog-format .right-player {
   float: none;
}

.footer {
  padding-right: 20px;
  background-color: white;
}

.footer p{
  text-align:right;
  font-size: 12px;
}

.table tr{
  border-top: 0px solid #fff;
}

.twitter-tweet{
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-bottom:20px;
}
