body {
    background-color: black;
}
h1 {
    color: black;
    font-size: 6em;
    font-family: sans-serif;
    font-style: normal;
    font-weight: 400;
    text-align: center;
}

p {
    color: black;
    font-size: 2em;
    font-family: sans-serif;
}
table {
    width: 100%;
    height: 100%;
}
td {
    vertical-align: center;
    text-align: center;
}
.container {
    width: 100%;
    height: 100%;
}

.announcement {
    text-align: center;
    position: fixed;
    top: 20px;
    left: 50%;
    margin-left: -265px;
    max-width: 500px;
    padding: 10px;
    border: solid 5px black;
}